* {
	box-sizing: border-box;
}

.container{
	width: 960px;
	margin: 0 auto;
}

section {

	border: 1px solid #000;
	height: 100px;
	width: 400px;
	margin: 40px auto;
}


section h1 {
	background-color: #990000;
	color: #FFF;
	font-size: 1.2em;
	left: -10px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	width: 420px;
}

section h1::before {
	border-color: transparent #7C0000 #7C0000 transparent;
	border-style: solid;
	border-width: 5px;
	content: "";
	left: 0;
	position: absolute;
	top: -10px;
}

section h1::after {
	border-color: transparent transparent #7C0000 #7C0000 ;
	border-style: solid;
	border-width: 5px;
	content: "";
	right: 0;
	position: absolute;
	top: -10px;
}

.help {
	background-color: #F1EFE6;
	border: 1px solid #D3CDAE;
	font-size: 0.9em;
	padding: 10px;
	position: relative;
	width: 300px;
	margin: 0 auto;

}

.help::before {
	border-color: transparent #D3CDAE transparent transparent;
	border-style: solid;
	border-width: 14px;
	content: "";
	left: -28px;
	margin-top: -14px;
	position: absolute;
	top: 50%;
}

.tips {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0;
}
.tips::before {
	content: "\261E";
	margin-right: 10px;
}

blockquote {
	color: #444;
	font-style: italic;
}
blockquote::before. blockquote::after{
	color: #000;
	font-size: 3em;

}

blockquote::before {
	content: "\201C"
}
blockquote::after{
	content: "\201D"
}

.button {
 	background-color: #999999; 
 	color: white;
 	font-weight: bold;
 	display: inline-block;
 	padding: 0.5em 1em;
 	text-decoration: none;
}

.primary-button {
	background-color: #389739;

}

.big-button {
	font-size: 1.1em;
}
.small-button {
	font-size: 0.9em;
}

@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), url('../fonts/lobster-v23-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-iconic.woff') format('woff');
}


h1 {
	font-family: "Lobster";
}

h2 {
	font-family: 'Press Start 2P';
}

.icon-next {
	color:blue;
	font-family: 'Icons'
}

.icon-next::after {
	content: '\2192';
	margin-left: 10px;

}

.icon-next-page {
	font-weight: bold;
}
.icon-next-page::after {
	content: '\2192';
	font-family: 'Icons';
	margin-left: 10px;
}

.icon-ok {
	color: #489D00;
}

.icon-ok::before {
	content: '\2714';
	font-family: 'Icons';
	margin-right: 10px;
}

.icon-invalid {
	color: #990000;
}
.icon-invalid::before {
	content: '\2718';
	font-family: 'Icons';
	margin-right: 10px;
}	
