* {
	box-sizing: border-box;
}

.container{
	width: 960px;
	margin: 0 auto;
}

section {

	border: 1px solid #000;
	height: 100px;
	width: 400px;
	margin: 40px auto;
}


section h1 {
	background-color: #990000;
	color: #FFF;
	font-size: 1.2em;
	left: -10px;
	padding: 5px 0;
	position: relative;
	text-align: center;
	width: 420px;
}

section h1::before {
	border-color: transparent #7C0000 #7C0000 transparent;
	border-style: solid;
	border-width: 5px;
	content: "";
	left: 0;
	position: absolute;
	top: -10px;
}

section h1::after {
	border-color: transparent transparent #7C0000 #7C0000 ;
	border-style: solid;
	border-width: 5px;
	content: "";
	right: 0;
	position: absolute;
	top: -10px;
}

.help {
	background-color: #F1EFE6;
	border: 1px solid #D3CDAE;
	font-size: 0.9em;
	padding: 10px;
	position: relative;
	width: 300px;
	margin: 0 10px;
	box-shadow:  3px 3px 3px #AAA;
	float: left;
	display: inline-block;

}

.help::before {
	border-color: transparent #D3CDAE transparent transparent;
	border-style: solid;
	border-width: 14px;
	content: "";
	left: -28px;
	margin-top: -14px;
	position: absolute;
	top: 50%;
}

.tips {
	width: 300px;
	margin: 0 auto;
	padding: 10px 0;
}
.tips::before {
	content: "\261E";
	margin-right: 10px;
}

blockquote {
	color: #444;
	font-style: italic;
}
blockquote::before. blockquote::after{
	color: #000;
	font-size: 3em;

}

blockquote::before {
	content: "\201C"
}
blockquote::after{
	content: "\201D"
}

.button {
 	background-color: #999999; 
 	color: white;
 	font-weight: bold;
 	display: inline-block;
 	padding: 0.5em 1em;
 	text-decoration: none;
}

.primary-button {
	background-color: #389739;

}

.big-button {
	font-size: 1.1em;
}
.small-button {
	font-size: 0.9em;
}

@font-face {
	font-family: 'Lobster';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster'), url('../fonts/lobster-v23-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Icons';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/open-iconic.woff') format('woff');
}


h1 {
	font-family: "Lobster";
}

h2 {
	font-family: 'Press Start 2P';
}

.icon-next {
	color:blue;
	font-family: 'Icons'
}

.icon-next::after {
	content: '\2192';
	margin-left: 10px;

}

.icon-next-page {
	font-weight: bold;
}
.icon-next-page::after {
	content: '\2192';
	font-family: 'Icons';
	margin-left: 10px;
}

.icon-ok {
	color: #489D00;
}

.icon-ok::before {
	content: '\2714';
	font-family: 'Icons';
	margin-right: 10px;
}

.icon-invalid {
	color: #990000;
}
.icon-invalid::before {
	content: '\2718';
	font-family: 'Icons';
	margin-right: 10px;
}	

.tnt {
	border-radius: 50%;
	border: 4px solid #000;
	height: 50px;
	width: 50px;
	line-height: 40px;
	font-size: 1.1em;
	text-align: center;
	display: inline-block;
}	

.counter {
	background-color: #000;
	color: white;
	border-top-left-radius: 25px 10px;
	border-top-right-radius: 25px 10px;
	height: 50px;
	width: 50px;
	display: inline-block;
	font-size: 1.7em;
	text-align: center;
	line-height: 50px;
}

img {
	display: block;
}
figure {
	position: relative;
}
figcaption {
	bottom: 5px;
	width: 300px;
	margin: 0 5px;
	padding: 5px;
	position: absolute;

	background-color: #000;
	background-color: rgba(0,0,0, 0.5);
	color: white;
}

ul {
	height:  35px;
	width:  210px;
	padding: 0;
	list-style: none;
	background-color: #CCC;
	color: white;
	border: 1px solid  rgba(0,0,0, 0.3);
}

li {
	width: 50px;
	line-height: 35px;
	font-size: 0.9em;
	float: left;
	text-align: center;
	border-left: 1px solid rgba(255,255,255, 0.3);
	border-right: 1px solid rgba(0,0,0, 0.3);
}

li:first-child {
	border-left: none;
}
li:last-child {
	border-right: none;
}

.gradient {
	font-weight: bold;
	height: 50px;
	width: 220px;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	float: left;
}

.blue {
	background-color: #4377FA; /* cor de fundo caso o navegador nao tenha suporte para linear-gradient*/
	background-image: linear-gradient(#4377FA, #0537B7);
}

.reverse-blue {
	background-image: linear-gradient(#0537B7, #4377FA);
}
.omg-pink {
	background-image: linear-gradient(to left, #FC0050, #FF79A3);
}
.stops {
background-image: linear-gradient(#F5B951 48%, #F2A31C 56%);
}

.clear {
	clear: both;
}

input {
	border: 1px solid #999;
	box-shadow: 2px 2px 2px rgba(0,0,0, 0.25) inset;
	padding: 2px 5px;
}

input:focus {
	border-color: #35861B;
	box-shadow: 0 0 5px #35861B, 2px 2px 2px rgba(0,0,0, 0.25) inset;
	outline: none;
}

.nav {
	margin-top: 5px;
	background-color: #B9522D;
	height: 30px;
	list-style:none;
	padding: 0;
	width: 210px;
}
.nav li {
	float: left;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	width: 70px;
	text-align: center;
}
.nav a {
	color: white;
}

.nav .current {
	background-color: #A64A28;
	box-shadow: 0 0  10px rgba(0,0,0, 0.5) inset;
}

.nav li:hover {
	background-color: #A64A28;
	box-shadow: 0 0  10px rgba(0,0,0, 0.5) inset;	
}